root {
    box-sizing: border-box;
}

html {
    font-family: 'Gill Sans MT', sans-serif;
    background-color: rgb(255, 228, 177);
}

head {}

title {}

#top {
    display: flex;
    font-family: cursive;
    justify-content: center;
}

div {}

#cv {}

.mainDetails {
    margin-block-start: auto;
    width: fit-content;
}

#headshot {
    border-radius: 8px;
}

#name {
    text-align: center;
}

h1 {
    color: rgb(0, 114, 114);
}

h2 {
    color: rgb(0, 206, 206);
}

#contactDetails {}

.clear {}

#mainArea {}

.sectionTitle {}

.sectionContent {}

.subDetails {}

p {
    color: rgb(165, 165, 100);
}

.keySkills {
    color: rgb(212, 141, 69);
}

li {}